# Ignora o ambiente virtual Python
venv/
.venv/

# Ignora arquivos de ambiente local
.env
.env.*

# Ignora arquivos de cache e logs
__pycache__/
*.pyc
*.log
*.sqlite3

# Ignora o arquivo de chave de serviço do Firebase (substitua pelo nome EXATO)
# Este arquivo NÃO deve ser enviado para o GitHub
caixa-1bd0c-firebase-adminsdk-fbsvc-29060eaa4f.json

# Ignora arquivos de IDEs (se usar)
.idea/
.vscode/